body {
  font-family: Roboto, sans-serif;
}
.ponce-admin__ping-decoration {
  animation: custom-ping 9s linear infinite;
}

.ponce-admin__ping-decoration--2 {
  animation-delay: 3s;
}

.ponce-admin__ping-decoration--3 {
  animation-delay: 6s;
}

.pa-max-lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pa-aparecer {
  animation: button-pop 400ms ease-out;
}

@keyframes custom-ping {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}
.parent {
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}
.child {
  opacity: 0;
}
.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.parent:hover .child,
.parent:focus .child {
  opacity: 1;
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
  opacity: 1;
}

.parent:hover h2,
.parent:focus h2 {
  display: block;
  opacity: 1;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
}

.child-list {
  background-color: rgb(255, 255, 255);
}
