.ponce-demos__modal--container {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100000;
}

.ponce-demos__modal--body {
	background-color: white;
	width: 500px;
	height: 300px;
	border-radius: 10px;
}